<html>
  <head>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "cookies" %>
  </head>
  <body onload="setCookie('<%= @user.credentials.token %>', '<%= @user.info.nickname %>')">
  </body>
</html>