<link rel="manifest" href="/manifest.json.erb">
<html>
  <head>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "cookies" %>
  </head>
  <body onload='indexCheckHome()'>
    <%= render 'shared/header' %>
  </body>
</html>