<%= javascript_include_tag "cookies" %>
<div class="headers">
    <div class="header">
        <img class="logo" border="0" alt="FantasyHockeyHelper" src="/assets/FHH5.png">
    </div>
  <div class="links">
    <form action="/home" method="GET" class="aLinks">
      <input type="hidden" name="token" value="" id='hToken'>
      <input type="submit" value="Leagues" class="aClone" onclick="getHomeInfo();">
    </form>
    <form action="/leagueinfo" method="GET" class="aLinks" id="options">
        <input type="hidden" name="leagueid" value="" id="lsubmitID">
        <input type="hidden" name="" value="" id='lState'>
        <input type="hidden" name="" value="" id='lTeam'>
        <input type="hidden" name="" value="" id='lStart'>
        <input type="hidden" name="" value="" id='lEnd'>
        <input type="hidden" name="token" value="" id='lToken'>
        <input type="submit" value="League Info" class="aClone" onclick="getLeagueInfo();">
        <input type="submit" value="Standings"  class="aClone" onclick="getStandings();">
        <input type="submit" value="Roster" id="teamElement" class="aClone" onclick="getTeamInfo();">
        <input type="submit" value="Free Agents" id="players" class="aClone" onclick="getFreeAgentInfo();">
    </form>
    <form action="/rankings" method="GET" class="aLinks">
        <input type="submit" value="Rankings" class="aClone">
    </form>
    <form action="/login" method="GET" class="aLinks">
        <input type="submit" value="Logout" class="aClone" onclick="eraseCookie();">
    </form>
  </div>
</div>